<h2>Recipe</h2>
<h3><i>Create your recipe</i></h3>
<form [formGroup]="recipeForm" (ngSubmit)="createRecipe()">
  <div class="form-group">
    <label class="center-block">
      <input class="" id="test" type="text" formControlName="name" placeholder="Name">
    </label>
    <br />

    <label class="center-block">
      <input class="form-control" type="number" formControlName="calories" placeholder="Calories">
    </label>
    <br />

    <label class="center-block">
      <select class="form-control"> Duration:
        <option>1 min</option>
        <option>2 min</option>
      </select>
      <!-- par defaut min -->
    </label>
    <br />

    <label class="center-block">
      <input class="form-control" type="number" formControlName="quantity" placeholder="Serves">
    </label>
    <br />

    <label class="center-block">
      <input class="form-control" type="text" formControlName="challenge" placeholder="Challenge">
    </label>
    <br />

    <label class="center-block">
      <input class="form-control" type="number" formControlName="price" placeholder="Price">
    </label>
    <br />

    <label class="center-block">
      Categories
    </label>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" value="Entree" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Entrée</label>
      <br />
      <input type="checkbox" class="form-check-input" value="Plat" id="exampleCheck2">
      <label class="form-check-label" for="exampleCheck1">Plat</label>
      <br />
      <input type="checkbox" class="form-check-input" value="Dessert" id="exampleCheck3">
      <label class="form-check-label" for="exampleCheck1">Dessert</label>
    </div>
    <br />

    <label class="center-block">
      <input class="form-control" type="text" formControlName="tools" placeholder="Tools">
    </label>
    <br />

    <label class="center-block">
      <input class="form-control" type="text" formControlName="ingredients" placeholder="Ingredients">
    </label>
    <br />

    <label class="center-block">
      <input class="form-control" type="text" formControlName="steps" placeholder="Steps">
    </label>
    <br />


    <button class="btn btn-success" [disabled]="recipeForm.invalid" type="submit">Save</button>
  </div>
</form>
