<br/>
<ul>
  <li *ngFor="let recette of this.allRecipes| Titlefilter:searchText">
    <a routerLink="/books/{{this.getId}}/recipes/{{recette.id}}">
      {{recette.name}}
    </a>
    <button (click)="delete(recette.id)"> Delete this recipe </button>
  </li>
</ul>

<!--<app-recette recipe]="recette" (delete)="delRecipe($event)" ></app-recette> -->
<!--
1- Liste lien vers toutes les recettes du catalogue
2- Un bouton pour delete une recette du catalogue. La recette sera toujours dans la liste des recettes mais plus dans
le catatlogue
3- Le menu de la page d'accueil
4- Footer
-->
